
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header shadow-lg p-3 mb-5 bg-cornflowerblue rounded" style="background-color: cornflowerblue;">
          <h3>Hello {{loginName}}</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Actions</p>
          <li >
              <a (click)="projectButtonToggle()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Project</a>
              <ul class="list-unstyled"  [hidden]="projectToggle" id="homeSubmenu">
                <li>
                    <a (click)="activateAddProject()">AddProject</a>
                </li>
                  <li>
                      <a (click)="activateViewProjects()">ViewProjects</a>
                  </li>
                  <li>
                      <a href="#">Home 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a (click)="developerButtonToggle()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Developer</a>
              <ul class="list-unstyled" [hidden]="developerToggle"  id="pageSubmenu">
                <li >
                    <a (click)="activateAddDeveloper()">AddDeveloper</a>
                </li>
                <li >
                    <a (click)="activateGetDevelopers()">ViewDevelopers</a>
                </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
                <a (click)="activateRaiseTicket()">RaiseTicket</a>
          </li>
          <li>
                <a (click)="activateViewBugs()">ViewBugs</a>
          </li>
          
      </ul>
  </nav>
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="margin-left:900px" href="/logOut" class="btn btn-primary">Sign Out</a>
    </nav>
    <div >
          <div class="container-fluid">
            <app-add-developer *ngIf="addDeveloper"></app-add-developer>  
          </div>
          <div class="container-fluid">
              <app-add-project *ngIf="addProject"></app-add-project>  
            </div>
            <div class="container-fluid">
                <app-add-bug *ngIf="addBug"></app-add-bug>  
            </div>
            <div class="container-fluid">
                <app-view-projects *ngIf="viewProjects"></app-view-projects>  
            </div>
            <div class="container-fluid">
                <app-get-developers *ngIf="getDevelopers"></app-get-developers>  
            </div>
            <div class="container-fluid">
                <app-raise-ticket *ngIf="raiseTicket"></app-raise-ticket>  
            </div>
            <div class="container-fluid">
                <app-view-bugs *ngIf="viewBugs"></app-view-bugs>  
            </div>
    </div>

</div>

</div>
