
  <div class="container" style="margin-left:150px;background-color: cyan;margin-top: 10px;">
    <div class="row" *ngFor="let developer of developers" style="margin-top: 20px;">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="activateAddBug()">Add Bug</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{developer.employeeName}}</h5>
            <p class="card-text"><b>Developer Id:</b>{{developer.employeeId}} </p>
            <p class="card-text"><b>assign Status:</b>{{developer.assignStatus}} </p>
            <p class="card-text"><b>Developer number:</b>{{developer.phoneNumber}} </p>
            <p class="card-text"><b>Developer emailId:</b>{{developer.emailId}} </p>
            <input type="button" class="btn btn-primary" [disabled]="developer.assignStatus" value="Raise Ticket" />
          </div>
        </div>
      </div>
    </div>
  </div>

